.media-text-video {
  .section-inner {
    padding: 130px 0 65px 0;
  }
}
.media-text-block {
  overflow: hidden;
  .image-block {
    max-width: 560px;
    float: left;
    padding-right: 48px;
    padding-bottom: 20px;
    padding-top: 0;
  }
}