.menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;

  .trigger-menu-mobile {
    color: #383373;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    display: block;
    padding: 0;
    &:hover {
      color: $pinkColor;
    }
  }
  #menu-col-2 {
    .menu {
      @media (min-width:990px) {
        display: flex;
        flex-wrap: wrap;
      }
      margin-left: -20px;
      margin-right: -20px;
      //column-count: 2;
      //column-gap: 40px;
      li {
        padding-left: 20px;
        padding-right: 20px;
        flex: 0 0 50%;
        max-width: 50%;
        @media (max-width:767px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
  #menu-col-4 {
    margin-top: 40px;
  }
  .menu-inner {
    width: 100%;
    height: 100%;
    background: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-height: 700px) {
      @media (min-width: 990px) {
        display: block;
        overflow-y: auto;
      }
    }
  }
  .main-menu-title {
    color: $blueColor;
    margin-bottom: 24px;
  }
  .menu {
    li {
      a {
        line-height: 20px;
        display: block;
      }
    }
  }
  a {
    font-size: 18px;
    color: $blackColor;
    letter-spacing: 0;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      color: $pinkColor;
    }
  }
  .btn-menu-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-height: 700px) {
      @media (min-width: 990px) {
        top: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #fff;
      }
    }
  }
  .close-menu {
    display: inline-flex;
    align-items: center;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 20px;
    color: $blueColor;
    font-weight: 500;
    .icon-close {
      margin-right: 20px;
    }
    &:hover {
      color: $pinkColor;
    }
  }
  .menu-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.main-menu-info {
  @media (min-width: 1200px) {
    display: none;
  }

  display: flex;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-top: 0;
  margin-top: 60px;
  .user-col,
  .cta-col,
  .phone-col {
    padding: 0 20px;
  }
  .cta-col {
    .btn-pink {
      padding-left: 50px;
      padding-right: 50px;
      color: $whiteColor;
      &:hover {
        color: $pinkColor;
      }
    }
  }
  .user-col {
    @media (max-width: 990px) {
      display: none;
    }
    .btn-border {
      padding-left: 50px;
      padding-right: 50px;
      border-color: $pinkColor;
      color: $pinkColor;
      .icon-log-in {
        margin-right: 20px;
      }
      &:hover {
        background: $pinkColor;
        color: $whiteColor;
        border-color: $pinkColor;
      }
    }
  }
  .phone-col {
    a {
      &:hover {
        color: $blackColor;
      }
      font-size: 24px;
      color: #DE3C7D;
      letter-spacing: 0;
      line-height: 24px;
    }
  }

}

.mobile-logo-col {
  display: none;
}
.menu-row .menu-col {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  .menu-wrapper .menu-col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  #menu-col-4 {
    display: none;
  }
  .menu-wrapper  {
    .menu-col {
      &#menu-col-2 {
        flex: 0 0 60%;
        max-width: 60%;
        .menu {
          //column-gap: 20px;
        }
      }
      &#menu-col-3,
      &#menu-col-1 {
        flex: 0 0 20%;
      }
    }
  }

}

@media (max-width: 990px) {
  .main-menu-info {
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media (max-width: 990px) {

  .menu-wrapper .menu-col {
    flex: 0 0 100%;
    max-width: 100%;
    .menu {
      display: none;

    }
  }
  .menu-wrapper .menu-col#menu-col-2,
  .menu-wrapper .menu-col#menu-col-3,
  .menu-wrapper .menu-col#menu-col-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .menu-wrapper .menu-col#menu-col-2 .menu {
    //column-count: 1;
    //column-gap: 0;
  }
  .menu-wrapper .trigger-menu-mobile,
  .menu-wrapper .main-menu-title {
    margin-bottom: 0;
    font-size: 22px;
    color: #13112B;
    letter-spacing: 0;
    line-height: 22px;
    position: relative;
    padding: 14px 0;
    &::before {
      content: '';
      width: 13px;
      height: 13px;
      background: url(../images/src/arrow.svg) center center no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .menu-wrapper {
    .active {
      .main-menu-title {
        &::before {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
  }

  .menu-row {
    .menu-col {
      margin-bottom: 0 !important;
      padding: 10px 0;
      border-bottom: 2px #f7f7f7 solid;
      &:first-child {
        border-top:  2px #f7f7f7 solid;
      }
    }
  }
  .main-menu-info {
    flex-wrap: wrap;
    .btn {
      width: 100%;
    }
    div {
      flex: 0 0 100%;
      max-width: 100%;

    }
  }
  .main-menu-info .cta-col {

  }
  .main-menu-info .phone-col, .main-menu-info .user-col {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .mobile-logo-col {
    display: block;
  }
  .btn-menu-container {
    .container {
      display: flex;
      padding-left: 0;
      padding-right: 0;
      justify-content: space-between;
      align-items: center;
    }
    .close-menu {
      span {
        margin-right: 0 !important;
        &:not([class*='icon-']) {
          display: none;
        }
      }
    }
    .mobile-logo-col {
      img {
        display: block;
        max-height: 26px;
        width: auto;
      }
    }
  }
  .menu-wrapper .btn-menu-container {
    top: 32px

  }
  .main-menu-info {
    margin-left: 0;
    margin-right: 0;
  }
  .main-menu-info,
  .main-menu-info .cta-col, .main-menu-info .phone-col, .main-menu-info .user-col {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  .menu-wrapper .menu-inner {
    .menu-content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .btn-menu-container .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}